.table-row-data{
    font-size: 10px;
    color: white;
}

.tabe-rows{
    display: flex;
    margin-top: 8px;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}