.form-data-container{
    background: #FFFFFF;
    width: 40%;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;


}

.form-container-title{
    margin-top: 30px;
    font-weight: bold;
    font-size: 28px;
    color: #4D40E4;

}

.text-input-field-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    gap: 20px;
}

.label-class{
    
    font-size: 16px;
    color: #000000;
   

}

.input-field{
    
    border:none;
    border-bottom: 1px solid #000000;
    outline: none;
}

.input-field-date{
    
    border:none;
    border-bottom: 1px solid #000000;
    outline: none;
    width: 132px;
}

select {
    width: 115px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    color: rgb(103, 109, 197);
    border-radius: 3px;  
    width: 60px;
}

.class-and-division-selectors{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:20px;
    margin-top: 25px;

}

.gender-selectors{
    display: flex;
    align-items: center;
    margin-top: 25px;
    gap:20px;

}

.datepickingelement{
    height: 35px;
    padding: 0px;
}

.submit_btn{
    margin-left: auto;
    width: fit-content;
    margin-right: 0px;
    background: #82D444;
    color: #FFFFFF;
    margin-top: 35px;
    margin-bottom: 25px;
    border-radius: 24px;
    padding:  4px 20px;
    cursor: pointer;
}

.radio-btn{
    
    cursor: pointer;
    margin-left: 30px;
}
.radio-selectors{
    margin-left: 20px;
}